
body { margin:0;padding:0; }
body, div, span, td, input, select { font-family:Arial;font-size:10pt; }

h1, h2, h3, h4, h5 { margin:0;padding:0; }

a { color:#900;text-decoration:none; }
a:hover { text-decoration:underline; }

a.external { color:#c00;text-decoration:underline; }

/* page elements */

ul.collapsed       { list-style:none;display:inline;padding:0;margin:0;position:relative; }
  ul.collapsed li  { display:inline;padding:0;margin:0;position:relative; }
ul.menu            {}
  ul.menu li.first { border:0;padding:0; }
  ul.menu li       { border-left:1px solid #ccc;padding:0 0 0 4px; }
  
table.bordered        { border-collapse:collapse; }
  table.bordered tr   {}
    table.bordered th { border:1px solid #999;padding:0.25em 0.5em;background-color:#eee; }
    table.bordered td { border:1px solid #999;padding:0.25em 0.5em;white-space:nowrap; }
    table.bordered tr.header td   { text-align:center;padding:0.25em 0.5em;font-weight:bold;background-color:#ccc; }
    table.bordered tr.platform td { background-color:#eee; }
    table.bordered tr.platform h2 { font-size:12pt; }
    table.bordered td.smaller     { font-size:8pt; }
    table.bordered td.count       { text-align:right; }

/* page structure */

#page { order:1px solid #eee;width:950px;position:relative;margin:1em auto;padding:0; }
  #header       { margin-bottom:1em; }
    #title      { font-size:30pt;font-weight:bold;ine-height:1; }
      #title img { vertical-align:bottom;border:1px solid #600;display:inline-block; }
    #top-right  { position:absolute;top:0;right:0; }
  #tabs         {}
    #tabs li    { font-size:12pt; }
  #flash        { border:2px solid red;padding:0.5em;margin:1em 0; }
  #content { order:1px solid #eee;margin:0;padding:1em 0;order-top:2px solid #ccc;border-bottom:1px solid #eee; }
  #footer { color:#999;text-align:center;margin-top:0.5em;margin-bottom:8em; }
  
div#about     { width:500px; }
  div#about p { font-size:12pt; }

div.log {font-family:monospace;overflow:hidden;}