
development:
  adapter: mysql
  database: rubybuild_dev
  host: localhost
  username: root
  password:

test:
  adapter: mysql
  database: rubybuild_test
  host: localhost
  username: root
  password:
