<div id="about">
  <p>
    RubySpecResults is an
    <a class="external" href="http://github.com/ryanlowe/rubyspecresults">open source</a>
    independent website that collects and reports
    <a class="external" href="http://rubyspec.org">RubySpec</a>
    results against many Ruby implementations.
  </p>
  <p>
    Test results may be submitted by members of the implementation
    team or independent testers.  In the near future results may also
    be submitted directly from test machines that run on
    continuous integration or time-based schedules.
  </p>
  <p>
    RubySpecResults' goal is to make each implementation's status
    against RubySpec as up-to-date and transparent as possible.
    This will allow people who use Ruby to make educated decisions about
    the best implementation for each situation.
  </p>
  <p>
    RubySpecResults is a <a class="external" href="http://www.rubyonrails.org">Ruby on Rails</a> web application built
    by <a class="external" href="http://ryanlowe.name">Ryan Lowe</a>
    with a lot of input from Ruby implementers on IRC at
    <a class="external" href="http://freenode.net/irc_servers.shtml">freenode</a> <code>#rubyspec</code>.
    You can find <code>ryanlowe</code> there or contact him by email:
  </p>
  <p>
    <b>rails AT ryanlowe DOT ca</b>
  </p>
  <p>
    RubySpecResults has a lightweight TODO list at
    <a class="external" href="http://lighterest.com">Lighterest</a>.  If you
    sign up at Lighterest and contact Ryan, he will give you access to the project.
    Lighterest will allow projects to be shared publicly without requiring sign up in
    the future.
  </p>
</div>