<p>
by <%= link_profile(@target.creator) %><br/>
<%= render :partial => 'public/target_summary' %>
</p>
<p>
  <%= EasyFormat.format(@target.notes) %>
</p>
<h2>Results</h2>
<div>
<% if @target.results.size < 1 -%>
  No results yet
<% else -%>
<%= render :partial => 'public/results' %>
<% end -%>
</div>