<div id="footer">
  by <a class="external" href="http://ryanlowe.name">ryanlowe</a>
  of <a class="external" href="http://www.disruptiveagility.com">disruptiveAgility</a>
  | <a class="external" href="http://freenode.net/irc_servers.shtml">freenode</a> <code>#rubyspec</code>
  | TODO list on <a class="external" href="http://lighterest.com">Lighterest</a>
</div>